extends layout

block link

block content 
  header(class="flex gap-4 items-center justify-between")
    div(class="aspect-square max-w-36 flex justify-center items-center") 
      if artist.image === null
        img(class="object-center object-cover h-full block" src=`/images/default.png`, alt=`Placeholder image 'cause this artist doesn't have one`)
      else 
        img(class="object-center object-cover h-full block" src=`/images/uploads/${artist.image}`, alt=`${artist.name} image`)
    div.flex-1
      h1.text-2xl 
        a(href=`https://www.google.com/search?q=${artist.query}+artist`)!= ' 🔗 ' + artist.name
      p!= 'Desc: ' + artist.description
      p!= 'Added by: ' + artist.added_by
      p Artist rating: #{artist.personal_rating}/10
      p.text-right.text-xs
        i Created At: #{artist.created_at_formatted}
      p.text-right.text-xs
        i Last modified: #{artist.last_modified_formatted}
  hr.my-8

  if artist_songs.length !== 0
    ul.list-disc
      each song in artist_songs
        li
          p.text-xl
            a(href=song.url)!= song.name
          p
            i
              each subArtist, index in song.artist
                if subArtist.name !== artist.name
                  a(href=subArtist.url)!= subArtist.name
                else
                  span= subArtist.name
                if index !== song.artist.length - 1
                  |, 
              |.
          p.text-sm Song rating: #{song.personal_rating}/10
          br


  else
    p This artist has no songs
    p 
      a(href="/music/song/create") Create song
  hr.mb-16

  p(class="flex gap-4 items-center justify-between p-4") 
    a(href=`/music/artist/${artist.id}/delete`) Delete artist 
    a(href=`/music/artist/${artist.id}/update`) Update artist

