extends layout

block link

block content
  h2(class="font-bold text-lg")= title
  if artistsList.length === 0
    div(class="mx-auto max-w-md font-bold text-center my-8")
      p(class="text-red-700") We must have at least 1 artist to create songs!  
      p(class="") 
        a(class="text-sky-500 transition-all hover:text-white hover:bg-sky-500 p-1 rounded underline underline-offset-4 decoration-dotted hover:decoration-solid font-bold", href="/music/artist/create") Create artist
  else
    div
      form(method="POST" class="p-2")
        div(class="flex flex-col gap-2 my-2")
          label(for="name" class="font-bold") Name:*
          input(class="shadow-md focus:border-t border-sky-500 transition-all text-sm p-2 shadow-gray-300 focus:outline-none focus:shadow-gray-500 hover:shadow-gray-500 rounded-md" id="name" type="text", name="name" placeholder="Enter song name" required value!=(undefined===song?'':song.name)) 
        div(class="flex flex-col gap-2 my-2")
          label(for="description" class="font-bold") Description:*
          textarea(class="shadow-md focus:border-t border-sky-500 transition-all text-sm p-2 shadow-gray-300 focus:outline-none focus:shadow-gray-500 hover:shadow-gray-500 rounded-md box-border" id="description" name="description" placeholder="Once upon a time..." required)!= undefined===song?'':song.description
            
        div(class="flex flex-col gap-2 my-2")
          label(for="added_by" class="font-bold") Added by:*
          input(class="shadow-md focus:border-t border-sky-500 transition-all text-sm p-2 shadow-gray-300 focus:outline-none focus:shadow-gray-500 hover:shadow-gray-500 rounded-md" id="added_by" type="text", name="added_by" placeholder="Enter your name" required value!=(undefined===song?'':song.added_by)) 
        div(class="flex flex-col gap-2 my-2")
          label(for="persona_rating" class="font-bold") Personal rating:*
          input(class="shadow-md focus:border-t border-sky-500 transition-all text-sm p-2 shadow-gray-300 focus:outline-none focus:shadow-gray-500 hover:shadow-gray-500 rounded-md" id="personal_rating"  type="number", name="personal_rating" placeholder="10" required value!=(undefined===song?'':song.personal_rating)) 
        ul(class="my-2 flex flex-wrap") 
          strong Select artist(s):*
          each artist in artistsList 
            li(class="list-none flex items-center text-sm gap-1 mx-2")
              input(type="checkbox" name="artist_checkboxes" value=artist._id checked=artist.checked id=artist._id)
              label(class="whitespace-nowrap" for=artist._id)!= artist.name
        if isUpdate
          div(class="flex flex-col gap-2 my-2")
            label(for="password" class="font-bold") Password*:
            input(class="shadow-md focus:border-t border-sky-500 transition-all text-sm p-2 shadow-gray-300 focus:outline-none focus:shadow-gray-500 hover:shadow-gray-500 rounded-md" type="password" id="password" name="password" placeholder="super secret password" required) 
            h3(class="text-xs") 
              strong *UPDATE is a sensitive action. Please enter password to confirm! 
        div(class="grid place-items-center my-2")
          button(type="submit" class="px-8 py-2 bg-green-600 text-white hover:text-green-600 hover:bg-white transition-all border rounded-lg border-green-900") Submit

  if errors
    ul(class="text-xs pl-2")
      each err in errors
        li(class="list-disc")
          i(class="text-red-500")= err.msg