extends layout

block link

block content 
  h1.text-2xl 
    a(href=`https://www.youtube.com/results?search_query=${song.query}+song`)!= '🔗' + song.name
  p Artist(s):
    | 
    i
      each artist, index in song.artist
        a(href=artist.url)!= artist.name
        if index !== song.artist.length - 1
          |, 
      |.

  p!= 'Desc: ' + song.description
  p!= 'Added by: ' + song.added_by
  p Song rating: #{song.personal_rating}/10
  p.text-right.text-xs
    i Created At: #{song.created_at_formatted}
  p.text-right.text-xs
    i Last modified: #{song.last_modified_formatted}
  hr.my-8

  p(class="flex gap-4 items-center justify-between p-4") 
    a(href=`/music/song/${song.id}/delete`) Delete song 
    a(href=`/music/song/${song.id}/update`) Update song

 

